body{
    font-family:monospace ;
}
ul{
    font-family:Helvetica;
}

li{
    list-style: circle;
}
.list{
    list-style: equare;
}

#msg{
    font-family: monospace;
}

    .light-theme{
        color: #0000;
        background: #f0f0f0;
    }